* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Lobster&display=swap');


body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #222;
}

header img {
    height: 10vh;
}

footer {
    height: 30vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer #descp {
    align-items: center;
}

footer img {
    max-height: 10vh;
}

footer ul {
    list-style: none;
}

footer a {
    font-size: 1.25em;
}

footer li:hover {
    transform: scale(1.05);
}

footer * {
    text-decoration: none;
    color: white;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

section {
    color: white;
}

#initial-pg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    padding-top: 10vh;
    background-color: black;
}

#initial-pg img {
    max-width: 40vw;
    border-radius: 1em;

}

#initial-pg * {
    color: white;
}

section {
    padding: 3em;
}

#produtos div img {
    width: 80%;
    border-radius: .5em;
}

#produtos {
    display: flex;
    flex-direction: column;
}

#produtos h2 {
    font-size: 4em;
    margin: 1em 0em;
}

.cat-prods h3 {
    font-size: 1.5em;
}

.cat-prods {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.cat-prods * {
    color: white;
    text-align: center;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.cat-prods a {
    text-decoration: none;
}

.cat-prods p {
    font-size: 1.5em;
}

.cat-prods > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2em;
    background-color: black;
    width: 20vw; 
    min-width: 400px;
    min-height: 45vh;
    height: 100%;
    border-radius: 1em;
}

.cat-prods .linguica {
    display: flex;
    width: 40vw;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}

.linguica > .item-descp {
    display: flex;
    height: 100%;
    /* max-width: 20vw; */
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
}

.sabores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.sabores-ind {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

main h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7em;
}
  

main h2 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
}

main a, header a {
    font-size: 1.5em;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all .2s ease;
}

li {
    transition: all .2s ease;
}

a:has(img):hover {
    transform: scale(1.0);
}

a:hover {
    transform: scale(1.1);
}

header li:hover {
    transform: scale(1.1);
}

header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.comprar {
    background-color: #ee9486;
    padding: .5em 1em;
    border-radius: .5em;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 4em;
}

#div-depoimentos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3em;
    gap: 2em;
}

#div-depoimentos p {
    text-align: center;
    color: black;
    font-family: "Lexend", sans-serif;
}

#div-depoimentos span {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
}

#div-depoimentos #depoimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15vw;
    min-width: 175px;
    height: 20vw;
    min-height: 175px;
    border-radius: 1em;
    padding: 1em;
    background-color: white;
}

@media screen and (max-aspect-ratio: 1/1) {
    .cat-prods > div {
        width: 80vw;
        gap: 2em;
        min-width: 0;
    }

    .cat-prods > .linguica {
        width: 80vw;
        min-width: 0;
    }

    #produtos img {
        max-width: none;
        width: 80%;
    }

    #initial-pg {
        flex-direction: column;
    }

    #initial-pg * {
        text-align: center;
    }

    #initial-pg img {
        max-width: none;
        width: 80%;
    }

    #initial-pg div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15vh;
    }

    main h1 {
        font-size: 4em;
    }

    header {
        height: 15vh;
    }

    header img {
        height: 8vh;
    }

    header ul {
        flex-direction: column;
        gap: 0;
        text-align: center;
        gap: .5em;
    }

    header a {
        font-size: 1.25em;
    }

    footer {
        flex-direction: column;
        height: fit-content;
        align-items: center;
        padding: 2em;
        gap: 2em;
    }

    footer * {
        text-align: center;
    }
}

@media screen and (max-aspect-ratio: .5/1) {
    section {
        padding: 1em;
    }

    header a {
        font-size: 1em;
    }

    footer div * {
        font-size: 1em;
    }
}